<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Task Clean Architecture</title>
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }

        section {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <section>
        <div style="max-width: 75%;">
            <h1>Task Clean Architecture</h1>
            <p>This project was created to show how to implements The Clean Architecture in practice.
                When I started this project, it was a simple example to explain to my friend Jefferson how to start a
                project using clean architecture.

                I was excited by everything that I read in the book. Then, I decided to apply the maximum number of
                concepts that I could. Then the Task Clean Architecture project was born, simple to understand and
                follow.</p>
        </div>
    </section>
    <section>
        <div>
            <h1>About the project</h1>
            <p>The Task Clean Architecture project has 5 functionalities, all them covered by tests using
                <strong>PHPUnit</strong>:
            </p>
            <br>
            <strong>Functionalities:</strong>
            <ol>
                <li>Create</li>
                <li>Find</li>
                <li>Update</li>
                <li>Delete</li>
                <li>List</li>
            </ol>

            <strong>Stack</strong>
            <ol>
                <li>Language: PHP</li>
                <li>Framework of tests: PHPUnit</li>
                <li>Slim Framework in external layer</li>
            </ol>
        </div>
    </section>
    <section>
        <div>
            <h1>How to this project is structured</h1>
            <p>This project was created to show how to implements The Clean Architecture in practice</p>
            <p align="center">
                <img src="../../../../public/images/structure.png" />
                <label>*This image may be out of date</label>
            </p>
        </div>
    </section>
</body>

</html>